.modal {
    @include position(fixed);
    z-index: 10;
    transition: all .3s;

    .mask {
        @include position(fixed);
        background-color: #000000;
        opacity: 0.5;
    }

    &.slide-enter-active {
        top: 0;
    }

    &.slide-leave-active {
        top: -100%;
    }

    &.slide-enter {
        top: -100%;
    }

    .modal-dialog {
        @include position(absolute, 40%, 50%, 660px, auto);
        background-color: #F5F5F5;
        transform: translate(-50%, -50%);

        .modal-header {
            opacity: 1;
            height: 60px;
            background-color: #F5F5F5;
            padding: 0 25px;
            line-height: 60px;
            font-size: 16px;

            .icon-close {
                @include positionImg(absolute, 23px, 25px, 14px, 14px, '/imgs/icon-close.png');
                transition: transform .3s;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }

        .modal-body {
            opacity: 1;
            padding: 42px 40px 54px;
            font-size: 14px;
        }

        .modal-footer {
            opacity: 1;
            height: 82px;
            line-height: 82px;
            text-align: center;
            background-color: #F5F5F5;
        }
    }
}